.App {
  text-align: center;
  font-family: 'Noto Sans', 'Oxygen', 'Roboto', sans-serif;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 700px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  font-family: 'Computer Modern Serif', serif;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(12px + 2vmin);
  color: black;
  margin-top: 1vmin;
  margin-bottom: 1vmin;
}

p {
  font-size: 16px;
}

p.score {
  margin-top: 4px;
  font-size: 24px;
}

.latex {
  font-family: 'Computer Modern Serif', serif;
}

Button.predict {
  font-size: 20px;
  margin-bottom: 30px;
}

h3 {
  font-size: 24px;
}
